.Rproj.user
.Rhistory
.RData
*.aux
*.bbl
*.log
*.out
*.sty
*.tex
*.blg
*.thm
*.nav
*.toc
*.snm
*.ent
*.docx
.DS_Store
paper/cache/*
paper/appendix/cache/*
data/
*.bak
*_Hu*
debug.R
.gitignore
*_templet*
review/memo.synctex.gz
review/reviewofRAP-16-0059.pdf